<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  
  <!--<RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetPlatform>x64</TargetPlatform>
    <TargetFrameworkVersion>FrameworkCore21</TargetFrameworkVersion>
  </RunConfiguration>-->

  <TestRunParameters>
    <Parameter name="WebDriver" value="chrome" />
    <Parameter name="ExecutableLocation" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
    <Parameter name="BaseUrl" value="https://www.google.com" />
    <Parameter name="CommandTimeout" value="60" />
    <Parameter name="SeleniumHost" value="http://selenium-service:4444/wd/hub" />
  </TestRunParameters>

  <MSTestV2>
    <Parallelize>
      <Workers>0</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
  </MSTestV2>

</RunSettings>
